# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies (managed by root)
node_modules/

# Native builds
.kotlin/
/ios
/android

# Certificates & Keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables
.env*.local

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
